<div class="background" style="background-image: url('img/bgs/guitar_bass.jpg')">
    <div class="background_filter">

        <!-- App Logo -->
        <div class="logo_area">
            <img class="logo" src="img/icons/logo.svg">
        </div> 

        <!-- Message -->
        <div class="message_area">
            <h1 class="message">Welcome back</h1>
        </div>

        <!-- Credits -->
        <div class="credits_area">
            <div class="credits">Sergio Castillo</div>
        </div>

    </div>
</div>