<div class="background" style="background-image: url('img/bgs/guitar_bass.jpg')">
    <div class="background_filter">

        <!-- App Logo -->
        <div class="logo_area">
            <img src="img/icons/logo.svg">
        </div> 

    </div>
</div>