<div class="app_footer">
    
    <div class="floating_app_footer">

        <div class="app_footer_item" id="delete_project">Delete Project</div>

        <div class="app_footer_item" id="delete_track">Delete Track</div>
        
        <div class="app_footer_item" id="delete_recording">Delete Recording</div>
        
        <div class="app_footer_item" id="export">Export Recordings</div>

        <!--
        <div class="app_footer_item">Source</div>
        <div class="app_footer_item">Track Editor</div>
        <div class="app_footer_item">Add Bandmates</div>
        <div class="app_footer_item">Start Live Session</div>
        -->

    </div>
</div>