<!-- Navigation Item -->
<a class="nav_item" id="<%- id %>" href="<%- href %>" >
    <div class="nav_item_icon">
        <img src="/img/icons/navigation/<%- img %>">
    </div>
    <div class="nav_item_name"><%- name %></div>
</a>