<!-- Project <%- bandmate %> -->
<a href="bandmates/<%= bandmate.id %>" class="bandmate_item">
    <div class="item_header">
        <img class="bandmate_picture" src="/img/icons/placeholders/bandmate.svg">
    </div>
    <div class="item_body">
        <div class="bandmate_info">
            <% const full_name = bandmate.name + " " + bandmate.surname %>
            <div class="bandmate_name"><%- (  full_name.length > 25 ?  full_name.substring(0 , 25) + '...' :  full_name ) %></div>
            <div class="bandmate_details">
                <div class="location"><%- user.location ? user.location : "Location" %></div>
            </div>
        </div>
    </div>
</a>