<!-- Project <%- bandmate %> -->
<a href="bandmates/<%= bandmate.id %>" class="bandmate_item">
    <div class="item_header">
        <img class="bandmate_picture" src="/img/icons/placeholders/bandmate.svg">
    </div>
    <div class="item_body">
        <div class="bandmate_info">
            <div class="bandmate_name"><%= bandmate.name + " " + bandmate.surname %></div>
            <div class="bandmate_details">
                <div class="location"><%- user.location ? user.location : "Location" %></div>
            </div>
        </div>
    </div>
</a>