<!-- Project <%- project %> -->
<a href="project/<%= project.name %>" class="project_item">
    <div class="item_header">
        <img class="project_icon" src="/img/icons/placeholders/project.svg">
    </div>
    <div class="item_body">
        <div class="project_info">
            <div class="project_name"><%= project.name %></div>
            <div class="project_details">
                <div class="creation_date">Creation Date</div>
                <div class="project_modified">Last Modified</div>
                <div class="project_length">Project Length</div>
            </div>
        </div>
    </div>
</a>