<style>
    .sidebar {
        width: 128px;
        height: 100%;
        background-color: aqua;
    }
</style>
<div class="sidebar">

    <div class="logo_area"></div>

    <div class="main_area">
        <div class="main_navigation"></div>
        <div class="shortcuts"></div>
    </div>

    <div class="user_area"></div>

</div>