<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> - Quick Studio</title>

    <!-- Favicon -->
    <%- include('components/ui/favicon') %>

    <!-- Styling-->
    <link rel="stylesheet" href="/css/style.min.css">

    <!-- Loding jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Loading jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        
        <!-- Custom Cursor -->
        <%- include('components/ui/cursor') %>
        
    </header>
    
    <%- body %>

    <footer>
        <!-- Load Loading Screen -->
        <script src="/js/loading_screen.js"></script>
        <!-- Load Cursor -->
        <script src="/js/cursor.js"></script>
        <!-- Load Textbox -->
        <script src="/js/input.js"></script>
        <!-- Load Sidebar -->
        <script src="/js/sidebar.js"></script>
    </footer>
</body>
</html>