/**
 * Primary Button
 */
.primary_button {
    
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    width: auto;
    min-width: 100px;
    padding: 8px 16px;
    
    outline: none;
    background-color: $primary;
    border: 1px solid $primary-dark-1;
    color: $primary-dark-3;
    border-radius: 2px;

    font-size: $text-l;
    font-weight: $text-bold;
    white-space: nowrap;
    
    cursor: pointer;
    transition: 0.25s;

    &:hover {

        background-color: $primary-dark-1;
        border: 1px solid $primary-dark-2;
        color:  $primary-dark-3;
    }

    &:focus {

        background-color: $primary-light-1;
        border: 1px solid $primary;
        color:  $primary-dark-2;
    }

    &:active {

        background-color: $primary-light-2;
        border: 1px solid $primary-light-1;
        color:  $primary-dark-1;
    }
    
}