.topbar {

    min-height: 64px;
    width: 100%;
    padding: 16px 48px;
    
    background-color: $neutral-light-3;
    border-top: 1px solid $neutral-light-2;
    border-right: 1px solid $neutral-light-2;
    border-bottom: 1px solid $neutral-light-2;

    .title {

        color: $neutral-dark-3;
        font-size: $text-l;
        font-weight: $text-regular;
    }
}