/**
 * Bandmates Area
 */
.bandmates_area {
    
    padding: $size-64;
    height: 100%;
    
    .bandmates {

        padding-right: $size-256;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row dense;
        gap: $size-64 $size-64;
    }

}