.entry_page {

    display: flex;
    height: 100vh;

    // Set both panels
    & > * {
        width: 50%;
    }
    
    .entry_panel {

        height: 100%;
        padding: $size-64;
        background-color: $white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > * {
            width: 100%;
        }

        .alternative_area {
            display: flex;
            align-items: baseline;

            & > * {
                margin-right: $size-24;
            }
        }

        .form_area {

            .title {
                margin-bottom: $size-32;
            }

            form {

                .split {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-flow: 1fr;
                    gap: $size-24;
                }

                & > * {
                    margin-bottom: $size-32;
                }
            }
        }
    
    }

    .background {

        // Set the background image
        background-size: cover;
        background-position: center;

        .background_filter {
    
            // Blurry filter covering image
            height: 100%;
            width: 100%;
            background: rgba($neutral-light-2, 0.1);
            backdrop-filter: blur(5px);

            padding: $size-64;
    
            // Place the items extended and to the side
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .logo_area {
                
                .logo {
                    height: $size-48;
                    width: auto;
                }
            }

            .message_area {

                .message {
                    font-size: $text-96;
                    color: $white;
                    text-align: end;
                    line-height: 1.15;
                }
            }

            .credits_area {

                .credits {
                    font-size: $text-12;
                    color: transparent;
                }
            }
        }
    }
}