.main {
    
    padding: $size-48;
    height: 100%;
    
    .project_items {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row dense;
        gap: $size-48 $size-48;
    }

}