/**
 * UI Test Dashboard
 */
.test_area {

    padding: $size-64;

    section {

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        & > * {
            margin-right: $size-64;
            margin-bottom: $size-64;
            max-width: 25%;
        }
    }
}