.test_area {

    section {

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        & > * {
            margin: $size-32;
            max-width: 25%;
        }
    }
}