.app_footer {
    
    padding-top: $size-64;
    width: 100%;

    .floating_app_footer {
        
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: $size-192;
        right: 0;
        
        height: $size-64;
        padding: $size-16 $size-48;
    
        background-color: $neutral-light-3;
        border-top: 1px solid $neutral-light-2;
        border-right: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2
    }
}