.app_header {
    
    padding-top: $size-128;
    width: 100%;

    .floating_app_header {
        
        position: fixed;
        z-index: 1;
        top: 0;
        left: $size-256;
        right: 0;
        
        height: $size-128;
        padding: $size-16 $size-48;
    
        background-color: $neutral-light-3;
        border-top: 1px solid $neutral-light-2;
        border-right: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2
    }
}