/**
 * Bandmate Item
 */
.bandmate_item {

    height: $size-128;
    width: 100%;

    background-color: $neutral-light-3;
    border-radius: $border;    
    display: flex;

    .item_header {

        height: 100%;
        width: $size-128;
        padding: $size-16;

        border-top: 1px solid $neutral-light-2;
        border-left: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        background-color: $secondary-light-2;
        border-radius: $border 0 0 $border;

        .bandmate_picture {
            
            width: $size-96;
            height: $size-96;
            border-radius: $border;
        }
    }

    .item_body {

        border-top: 1px solid $neutral-light-2;
        border-right: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        width: 100%;
        padding: $size-24 $size-32;
        border-radius: 0 $border $border 0;

        .bandmate_info {

            .bandmate_name {
                @include text_style($text-24, $text-semi, $secondary-dark-2);
                line-height: 1;
                margin-bottom: $size-8;
            }

            .bandmate_details {

                & > * { @include text_style($text-18, $text-reg, $neutral-dark-1) }
            }
        }
    }
}