.bandmate_item {

    height: 128px;
    width: 100%;

    background-color: $neutral-light-3;
    border-radius: $border;    
    display: flex;

    .item_header {

        height: 100%;
        width: 128px;
        padding: 16px;

        border-top: 1px solid $neutral-light-2;
        border-left: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        background-color: $secondary-light-2;
        border-radius: $border 0 0 $border;

        .bandmate_picture {
            
            width: 96px;
            height: 96px;
        }
    }

    .item_body {

        border-top: 1px solid $neutral-light-2;
        border-right: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        width: 100%;
        padding: 16px 24px;
        border-radius: 0 $border $border 0;

        .bandmate_info {

            .bandmate_name {

                font-weight: $text-bold;
                font-size: $text-s;
                color: $secondary-dark-2
            }

            .bandmate_details {

                & > * {

                    font-weight: $text-regular;
                    font-size: $text-xs;
                    color: $neutral-dark-1;
                }
            }
        }
    }
}