/**
 * Project Item
 */
.project_item {

    height: $size-128;
    width: 100%;

    background-color: $neutral-light-3;
    border-radius: $border;    
    display: flex;

    .item_header {

        height: 100%;
        width: $size-128;
        padding: $size-16;
        
        border-top: 1px solid $neutral-light-2;
        border-left: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        background-color: $primary-light-2;
        border-radius: $border 0 0 $border;

        .project_icon {
            
            width: $size-96;
            height: $size-96;
        }
    }

    .item_body {

        border-top: 1px solid $neutral-light-2;
        border-right: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        width: 100%;
        padding: $size-16 $size-24;
        border-radius: 0 $border $border 0;

        .project_info {

            .project_name { @include text_style($text-14, $text-bold, $primary-dark-2) }

            .project_details {

                & > * { @include text_style($text-12, $text-reg, $neutral-dark-1) }
            }
        }
    }
}