.sidebar {

    padding-left: $size-256;
    height: 100%;
    background-color: $white;

    .floating_sidebar {

        height: 100vh;
        width: $size-256;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo_area {

            min-height: $size-128;
            padding: $size-32;
            background-color: $secondary-light-3;
            border: 1px solid $secondary-light-2;

            display: flex;
            justify-content: center;
            align-items: center;

            .logo {

                height: $size-32;
                width: auto;
            }
        }

        .main_area {

            height: 100%;
            background-color: $neutral-light-3;
            padding: $size-64 0;

            border-left: 1px solid $neutral-light-2;
            border-right: 1px solid $neutral-light-2;

            .main_navigation {

                display: flex;
                flex-direction: column;

                .nav_item {

                    padding: $size-24 $size-32;
                    
                    border-top: 1px solid $neutral-light-3;
                    border-bottom: 1px solid $neutral-light-3;

                    color: $neutral-dark-2;
                    display: flex;
                    align-items: center;

                    transition: 0.25s;

                    &:hover, &.active {

                        border-top: 1px solid $neutral-light-1;
                        border-bottom: 1px solid $neutral-light-1;

                        background-color: $secondary-light-3;
                        box-shadow: inset -4px 0 $primary;

                        .nav_item_name {

                            color: $neutral-dark-3;
                        }
                    }

                    .nav_item_icon {
                        
                        img {
                            width: $size-24;
                            height: $size-24;
                        }

                        margin-right: $size-24;
                    }

                    .nav_item_name {

                        @include text_style($text-18, $text-med, $neutral-dark-2)
                    }
                }
            }
        }

        .user_area {

            height: $size-64;
            padding: $size-16 $size-32;

            background-color: $secondary-light-3;
            border: 1px solid $secondary-light-2;

            display: flex;
            align-items: center;

            .user {

                display: flex;
                align-items: center;

                .user_picture {

                    width: $size-32;
                    height: $size-32;
                    object-fit: cover;
                    
                    border-radius: 100%;
                    margin-right: $size-16;
                }
        
                .user_name { @include text_style($text-16, $text-reg, $neutral-dark-1) }
            }
        }
    }
}