.topbar {

    padding-top: $size-128;
    width: 100%;

    .floating_topbar {

        position: fixed;
        z-index: 1;
        top: 0;
        left: $size-256;
        right: 0;
        
        height: $size-128;
        padding: $size-32 $size-64;
    
        background-color: $neutral-light-3;
        border-top: 1px solid $neutral-light-2;
        border-right: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .title { @include text_style($text-32, $text-bold, $neutral-dark-3) }
    }
}