<div class="index_page">

    <!-- Sidenav -->
    <%- include('../components/sidebar', { user: user }) %>

    <div class="page">

        <!-- Top Bar -->
        <%- include('../components/topbar', { page_title: title }) %>

        <!-- Main Area -->
        <div class="bandmates_area">
            <div class="bandmates">
                <% for(bandmate of bandmate_list){ %>
                    <%- include('../components/bandmate_item', { bandmate: bandmate }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>