<style>
    .index_page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
<div class="index_page">

    <h1>There has been an issue</h1>
    <h4>Error Status: <%= error.status %></h4>
    <p>Error Message: <%= error.message %></p>

</div>

<p>Error Stack: <%= error.stack %></p>