<style>
    .index_page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
<div class="index_page">

    <h1>There has been an issue</h1>
    <h3>Error Status: <%= error.status %></h3>
    <h4>Error Message: <%= error.message %></h4>

</div>