<%- include ("../partials/header"); %>

<style>
    .index_page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
<div class="index_page">

    <h1>Hello world!</h1>
    <p>I am alive</p>

    
</div>

<%- include("../partials/footer"); %>