<% projects = [ "Breakdown test 01", "test 01", "test_02", "test_03" ] %>

<div class="index_page">

    <!-- Sidenav -->
    <%- include('../components/sidebar', { logged_user: name }) %>

    <div class="page">

        <!-- Top Bar -->
        <%- include('../components/topbar', { page_title: "Projects" }) %>

        <!-- Main Area -->
        <div class="main">
            <div class="project_items">
                <% for(project of projects){ %>
                    <%- include('../components/project_item', { project_name: project }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<style>

    .index_page {
        height: 100vh;
        display: flex;
    }

    .page {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

</style>