<div class="index_page">

    <!-- Sidenav -->
    <%- include('../components/sidebar', { logged_user: name }) %>

    <div class="page">

        <!-- Top Bar -->
        <%- include('../components/topbar', { page_title: "Projects" }) %>

        <!-- Main Area -->
        <div class="main">
            <div class="project_items">
                <% for(project of project_list){ %>
                    <%- include('../components/project_item', { project_name: project }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>