<div class="index_page">

    <!-- Sidenav -->
    <%- include('../components/sidebar', { user: user }) %>

    <div class="page">

        <!-- Top Bar -->
        <%- include('../components/topbar', { page_title: title, is_project: true }) %>

        <!-- Main Area -->
        <div class="main">
            <div class="project_items">
                <% for(project of project_list){ %>
                    <%- include('../components/project_item', { project: project }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>