<%- include ("../partials/header"); %>

<div class="main_page">

    <h1>This is the main page</h1>
    <h2>Hi <%= name %></h2>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</div>

<%- include("../partials/footer"); %>