<div class="index_page">

    <!-- Sidenav -->
    <%- include('../components/sidebar', { user: user }) %>

    <div class="page">

        <!-- Top Bar -->
        <%- include('../components/topbar', { page_title: title }) %>

        <!-- Main Area -->
        <div class="main">
            
        </div>
</div>