<div class="index_page">

    <!-- Sidenav -->
    <%- include('../components/sidebar', { user: user }) %>

    <div class="page">

        <!-- Top Bar -->
        <%# - include('../components/topbar', { page_title: title }) #%>
        <div class="app_header"></div>

        <!-- Main Area -->
        <div class="main">
            <form class="project_edit" action="/project/<%- project.project_id %>?_method=PUT" method="POST">

                <!-- Name -->
                <div class="input_text">
                    <div class="input_container">
                        <label class="input_label" for="project_name" >Project Name</label>
                        <input id="project_name" type="text" name="name" autocomplete="off" />
                    </div>
                </div>

                <!-- Register button -->
                <button class="primary_button" type="submit">Update Details</button>
                
            </form>
        </div>

        <!-- Bottom Bar -->
        <div class="app_footer"></div>

    </div>
</div>