<%- include ("../partials/header"); %>

<div class="entry_page register">
    
    <!-- Register Area -->
    <div class="register_area">
    </div>

    <!-- Background area -->
    <%- include("../partials/entry_background"); %>

</div>

<%- include("../partials/footer"); %>