.app_main {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;

    .app_main_track_area {

        width: 100%;
        height: 100%;
        background-color: $secondary-light-3;

        .recording_track_list {

            padding-top: $size-64;
            display: flex;
            flex-direction: column;

            .recording_track {

                height: $size-128;
                width: 100%;
                background-color: rgba($neutral-light-2, 0.65);
                margin-bottom: $size-16;
                display: flex;

                .track_section {

                    cursor: pointer;
                    height: 100%;
                    //width: 100px;
                    border-radius: $border;
                    //border: solid 1px $neutral-dark-1;
                    //background-color: $neutral;
                    @include center_align();
                }

                @include recording_track_colour();
            }
        }
    }
}