/**
 * App Footer
 */
.app_footer {
    
    padding-top: $size-64;
    width: 100%;
    //background-color: $secondary-dark-2;

    .floating_app_footer {
        
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: $size-256;
        right: 0;
        height: $size-64;
    
        background-color: $neutral-light-3;
        border-top: 1px solid $neutral-light-2;
        border-right: 1px solid $neutral-light-2;
        border-bottom: 1px solid $neutral-light-2;

        display: flex;

        .app_footer_item {

            padding: $size-16 $size-24;
            border-right: solid 1px $neutral-light-3;
            border-left: solid 1px $neutral-light-3;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            @include text_style($text-18, $text-med, $neutral-dark-3);

            transition: 0.25s;

            &:hover {

                background-color: $secondary-light-3;
                border-right: solid 1px $secondary-light-2;
                border-left: solid 1px $secondary-light-2;

                &:first-child {
                    border-left: solid 1px $secondary-light-3;
                }
            }
        }
    }
}