.app_main {

    width: 100%;
    height: 100%;

    .app_main_track_area {

        width: 100%;
        height: 100%;
        background-color: $secondary-light-3;

        .tracks {

            padding-top: $size-64;
            display: flex;
            flex-direction: column;

            .track {

                height: $size-128;
                width: 100%;
                background-color: rgba($neutral-light-2, 0.65);
                margin-bottom: $size-16;

                .track_section {

                    cursor: pointer;
                    height: 100%;
                    width: 100px;
                    border-radius: $border;
                    border: solid 1px $secondary-dark-1;
                    background-color: $secondary;
                }
            }
        }
    }
}