/**
 * Quick Studio Colour Palette
 */

// White
$white: #FDFDFD;

// Neutral colours (B&W)
$neutral-dark-3: #2D2F39;
$neutral-dark-2: #62646E;
$neutral-dark-1: #9798A2;
$neutral: #CCCDD7;
$neutral-light-1: #DADBE2;
$neutral-light-2: #E8E9ED;
$neutral-light-3: #F6F7F8;

// Primary Colours
$primary-dark-3: #0A5C27;
$primary-dark-2: #418F5C;
$primary-dark-1: #77C392;
$primary: #AEF6C7;
$primary-light-1: #C5F9D7;
$primary-light-2: #DCFBE7;
$primary-light-3: #F3FEF7;

// Secondary Colours
$secondary-dark-3: #0A3F5C;
$secondary-dark-2: #40738F;
$secondary-dark-1: #76A8C3;
$secondary: #ACDCF6;
$secondary-light-1: #C4E6F9;
$secondary-light-2: #DBF0FB;
$secondary-light-3: #F3FAFE;