/**
 * Primary Button
 */
.primary_button {
    
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    width: auto;
    min-width: 100px;
    padding: 8px 16px;
    
    outline: none;
    border: none;
    border: 1px solid $primary-dark-1;
    border-radius: 2px;
    background-color: $primary;

    font-size: 100%;
    @include text_style($text-16, $text-semi, $primary-dark-2);
    text-align: center;
    white-space: nowrap;
    
    cursor: pointer;
    transition: 0.25s;

    &:hover {

        background-color: $primary-dark-1;
        border: 1px solid $primary-dark-2;
        color:  $primary-dark-3;
    }

    &:focus {

        background-color: $primary-light-1;
        border: 1px solid $primary;
        color:  $primary-dark-2;
    }

    &:active {

        background-color: $primary-light-2;
        border: 1px solid $primary-light-1;
        color:  $primary-dark-1;
    }
    
}

/**
 * Secondary Button
 */
.secondary_button {
 
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    width: auto;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

    @include text_style($text-16, $text-semi, $secondary-dark-1);
    white-space: nowrap;
    
    cursor: pointer;
    transition: 0.25s;

    &:hover { color: $secondary; }

    &:focus { color: $secondary; }

    &:active { color: $secondary-light-1; }
}

/**
 * Tertiary Button
 */
.tertiary_button {
    
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    height: auto;
    background-color: transparent;
    
    @include text_style($text-14, $text-reg, $primary-dark-1);
    white-space: nowrap;
    text-decoration: underline;

    transition: 0.25s;

    &:hover { color: $primary; }

    &:focus { color: $primary-dark-2; }

    &:active { color: $primary-light-1; }
}