/**
 * Primary Button
 */
.primary_button {
    
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    width: auto;
    min-width: 100px;
    padding: 8px 16px;
    
    outline: none;
    background-color: $primary;
    border: 1px solid $primary-dark-1;
    color: $primary-dark-2;
    border-radius: 2px;

    text-align: center;
    font-size: $text-m;
    font-weight: $text-bold;
    white-space: nowrap;
    
    cursor: pointer;
    transition: 0.25s;

    &:hover {

        background-color: $primary-dark-1;
        border: 1px solid $primary-dark-2;
        color:  $primary-dark-3;
    }

    &:focus {

        background-color: $primary-light-1;
        border: 1px solid $primary;
        color:  $primary-dark-2;
    }

    &:active {

        background-color: $primary-light-2;
        border: 1px solid $primary-light-1;
        color:  $primary-dark-1;
    }
    
}

/**
 * Secondary Button
 */
.secondary_button {
 
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    width: auto;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

    color: $secondary-dark-1;
    font-size: $text-m;
    font-weight: $text-regular;
    white-space: nowrap;
    
    cursor: pointer;
    transition: 0.25s;

    &:hover { color: $secondary; }

    &:focus { color: $secondary; }

    &:active { color: $secondary-light-1; }
}

/**
 * Tertiary Button
 */
.tertiary_button {
    
    border: none;
    outline: none;
    cursor: pointer;
    height: auto;
    background-color: transparent;
    text-decoration: underline;
    white-space: nowrap;

    color: $primary-dark-1;
    font-size: $text-s;
    font-weight: $text-regular;
    white-space: nowrap;

    transition: 0.25s;

    &:hover { color: $primary; }

    &:focus { color: $primary-dark-2; }

    &:active { color: $primary-light-1; }
}