/**
 * Quick Studio Colour Palette
 */

// Neutral colours (B&W)
$black: #262831;
$neutral-dark-3: #4a4d58;
$neutral-dark-2: #6f727f;
$neutral-dark-1: #9396a6;
$neutral: #b7bbcd;
$neutral-light-1: #cdd0dc;
$neutral-light-2: #e3e4ec;
$neutral-light-3: #f9f9fb;
$white: #fdfdfd;

// Primary Colours
$primary-dark-3: #162c24;
$primary-dark-2: #416a54;
$primary-dark-1: #6ba883;
$primary: #96e6b3;
$primary-light-1: #b5eeca;
$primary-light-2: #d4f6e0;
$primary-light-3: #f3fef7;

// Secondary Colours
$secondary-dark-3: #19162c;
$secondary-dark-2: #43456a;
$secondary-dark-1: #6e73a9;
$secondary: #98a2e7;
$secondary-light-1: #b6bdef;
$secondary-light-2: #d3d8f6;
$secondary-light-3: #f1f3fe;