// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

// Text sizes
$text-xs  : clamp( 0.8rem, 0.8vw, 1.2rem); // 12px
$text-s   : clamp( 1.0rem, 0.9vw, 1.4rem); // 14px
$text-m   : clamp( 1.2rem, 1.1vw, 1.6rem); // 16px
$text-l   : clamp( 1.4rem, 1.4vw, 1.8rem); // 18px
$text-xl  : clamp( 1.6rem, 1.7vw, 2.4rem); // 24px
$text-2xl : clamp( 1.8rem, 2.2vw, 3.2rem); // 32px
$text-3xl : clamp( 2.4rem, 3.3vw, 4.8rem); // 48px
$text-4xl : clamp( 4.8rem, 4.4vw, 6.4rem); // 64px

// Font Weight
$text-thin : 100;
$text-light : 300;
$text-regular : 400;
$text-bold : 700;
$text-black : 900;

h1 {
    font-size: $text-4xl;
    font-weight: $text-black;
    color: $black;
}

h2 {
    font-size: $text-3xl;
    font-weight: $text-bold;
    color: $black;
}

h3 {
    font-size: $text-2xl;
    font-weight: $text-bold;
    color: $black;
}

h4 {
    font-size: $text-xl;
    font-weight: $text-bold;
    color: $black;
}

h5 {
    font-size: $text-l;
    font-weight: $text-bold;
    color: $black;
}

p, li {
    font-size: $text-l;
    font-weight: $text-regular;
    color: $black;
}

a {
    text-decoration: none;
    font-size: $text-l;
    font-weight: $text-regular;
    color: $primary-dark-2;

    &:hover {
        color: $primary-dark-1;
    }
}