/**
 * Shadows
 */

// Shadoow
$shadow: 0px 2.5px 5px rgba( $neutral-dark-3, 0.25);
$shadow-hover: 0px 5px 5px rgba( $neutral-dark-3, 0.25);
$shadow-focus: inset $shadow-hover;

// Borders
$border: 4px;